<footer class="footer">
  <div class="container">
    <div class="row gy-4">

      <!-- LOCATION -->
      <div class="col-md-3">
        <div class="footer-item">
          <i class="bi bi-geo-alt-fill"></i>
          <span>Rajkot</span>
        </div>
      </div>

      <!-- QUICK LINKS -->
      <div class="col-md-3">
        <ul class="footer-links">
          <li><i class="bi bi-arrow-right"></i> Home</li>
          <li><i class="bi bi-arrow-right"></i> Vehicles</li>
          <li><i class="bi bi-arrow-right"></i> Services</li>
          <li><i class="bi bi-arrow-right"></i> Featured</li>
          <li><i class="bi bi-arrow-right"></i> Contact</li>
        </ul>
      </div>

      <!-- CONTACT INFO -->
      <div class="col-md-4">
        <ul class="footer-links">
          <li><i class="bi bi-telephone-fill"></i> +918140995156</li>
          <li><i class="bi bi-telephone-fill"></i> +919429401731</li>
          <li><i class="bi bi-envelope-fill"></i> Ridehub.Rajkot@gmail.com</li>
          <li>
            <i class="bi bi-geo-alt-fill"></i>
            Param Boys Hostel, Rajkot, Gujarat – 360005
          </li>
        </ul>
      </div>

      <!-- SOCIAL -->
      <div class="col-md-2">
        <ul class="footer-links">
          <li><i class="bi bi-facebook"></i> Facebook</li>
          <li><i class="bi bi-instagram"></i> Instagram</li>
        </ul>
      </div>

    </div>

    <!-- COPYRIGHT -->
    <div class="footer-bottom">
      Created By <strong>Makvana Hardik</strong> | All Rights Reserved
    </div>
  </div>
</footer>
